.cont {
    position: relative;
    height: 100%;
    background-image: url('https://cdn.pixabay.com/photo/2017/06/11/02/05/summer-2391348_960_720.jpg');
    background-size: cover;
    overflow: auto;
  }
  .demo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15rem;
    margin-top: -26.5rem;
    width: 30rem;
    height: 53rem;
    overflow: hidden;
  }

  .login {
    position: relative;
    height: 100%;
    background: linear-gradient(to bottom, rgba(146, 135, 187, 0.8) 0%, rgba(0,0,0,0.6) 100%);
    transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
    transform: scale(1);

    &__form {
        position: absolute;
        top: 37%;
        left: 0;
        width: 100%;
        height: 50%;
        padding: 1.5rem 2.5rem;
        text-align: center;
      }

      &__row {
        height: 5rem;
        padding-top: 1rem;
        border-bottom: 1px solid rgba(255,255,255,0.2);
      }      

      &__signup {
        font-size: 1.2rem;
        color: #ABA8AE;
        
        a {
          color: #fff;
          cursor: pointer;
        }
      }

  }
  
  .tick {
    stroke-dasharray: 29px;
    stroke-dashoffset: 29px;
    animation: draw .5s cubic-bezier(.25, .25, .25, 1) forwards;
    animation-delay: .6s
}

.circle {
    fill-opacity: 0;
    stroke: #219a00;
    stroke-width: 16px;
    transform-origin: center;
    transform: scale(0);
    animation: grow 1s cubic-bezier(.25, .25, .25, 1.25) forwards;   
}

@keyframes grow {
    60% {
        transform: scale(.8);
        stroke-width: 4px;
        fill-opacity: 0;
    }
    100% {
        transform: scale(.9);
        stroke-width: 8px;
        fill-opacity: 1;
        fill: #219a00;
    }
}

@keyframes draw {
    100% { stroke-dashoffset: 0; }
}

