<div class="cont">
  <div class="demo">
    <div class="login">
        <div ></div>
        <div class="login__form">
            <div class="container">
                <div class="row">
                  <div class="modalbox success col-sm-8 col-md-6 col-lg-5 center animate">
                    <div class="icon">
                      <span class="glyphicon glyphicon-ok"></span>
                    </div>
                    <!--/.icon-->
                    <div class="svg-container">    
                        <svg class="ft-green-tick" xmlns="http://www.w3.org/2000/svg" height="100" width="100" viewBox="0 0 48 48" aria-hidden="true">
                            <circle class="circle" fill="#5bb543" cx="24" cy="24" r="22"/>
                            <path class="tick" fill="none" stroke="#FFF" stroke-width="6" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" d="M14 27l5.917 4.917L34 17"/>
                        </svg>
                    </div>                    
                    <h1 style="color: green;">Sucesso!</h1>
                    <p style="color: white;">Foi enviado um e-mail de confirmação 
                      <br style="color: white;">Verifique sua caixa de entrada.</p>
                      <br /> 
                      <p class="login__signup" (click)="toLogin()" >&nbsp;<a>Efetuar login</a></p>
                  </div>
                  <!--/.success-->
                </div>             
        </div>
    </div>
  </div>
</div>