<ion-header>
  <ion-toolbar>   
    <ion-item><ion-icon name="arrow-back" routerLink="/cardapio"></ion-icon></ion-item>
    <ion-title>Opções</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-segment>
      <ion-segment-button routerLink="/lista-cardapio">
        <img src="../assets/img/food1.jpeg" alt="#" />
        Café da Manhã
      </ion-segment-button>
      <ion-segment-button routerLink="/lista-cardapio">
          <img src="../assets/img/food2.jpeg" alt="#" />
        Pós Café
      </ion-segment-button>
    </ion-segment>
    <ion-segment>
      <ion-segment-button routerLink="/lista-cardapio">
        <img src="../assets/img/food3.jpeg" alt="#" />
          Almoço
      </ion-segment-button>
      <ion-segment-button routerLink="/lista-cardapio">
        <img src="../assets/img/food4.jpeg" alt="#" />
        Pós Almoço
      </ion-segment-button>
    </ion-segment>
    <ion-segment>
      <ion-segment-button routerLink="/lista-cardapio">
        <img src="../assets/img/food6.jpeg" alt="#" />
          Café da Tarde
      </ion-segment-button>
      <ion-segment-button routerLink="/lista-cardapio">
        <img src="../assets/img/food5.jpeg" alt="#" />
        Janta
      </ion-segment-button>
    </ion-segment>
    <ion-segment>
      <ion-segment-button routerLink="/lista-cardapio">
        <img src="../assets/img/food7.jpeg" alt="#" />
          Pré Treino
      </ion-segment-button>
      <ion-segment-button routerLink="/lista-cardapio">
        <img src="../assets/img/food8.jpeg" alt="#" />
        Pós Treino
      </ion-segment-button>
    </ion-segment>
</ion-content>
