ion-header {
    text-align: center;
    background-color: #C2EB59;
}

ion-content {
    --background: #f3f3f3;
    margin-bottom: 15px;
    ion-segment-button {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 12x;

        --margin-top: 10px;  
        img {
            border-radius: 10px;
        }
    }
}