<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon  name="home"></ion-icon>
      <ion-label>Ínicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" disabled>
      <ion-icon name="camera"></ion-icon>
      <ion-label>Diário</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" disabled>
      <ion-icon name="contact"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>