<div class="cont">
  <div class="demo">
    <div class="login">
      <div ></div>
      <div class="login__form">
        <div class="login__row">
          <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
            <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
          </svg>
          <input type="text" [(ngModel)]="mail" class="login__input name" placeholder="Digite seu e-mail"/>
        </div>
        <div class="login__row">
          <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
            <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
          </svg>
          <input type="password" [(ngModel)]="passwd" class="login__input pass" placeholder="Digite sua senha"/>
        </div>
        <button type="button" (click)="logIn()" class="login__submit">Login</button>
        <p class="login__signup" (click)="signIn()" >Não tem uma conta? &nbsp;<a>Cadastre-se</a></p>
      </div>
    </div>

  </div>
</div>