<ion-header class="topo">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-title>Diario Alimentar</ion-title>
      <ion-button (click)="TakePhotos()" color="light"><ion-icon name="camera" position="static"></ion-icon></ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>

<div class=".iframe-fix iframe" >
  <ion-list *ngFor="let photo of photos">
    <ion-item class="fotos" lines="none">
        <img src={{photo}} style="width:100px;height:100px;"/>
    </ion-item>
  </ion-list>
 
</div>
