
ion-item{

    border:none;

    ion-title{
        text-align: center;
        font-size:20px;
        font-weight: bold;
    }
}   


ion-icon{
size:20vh;
color:black;
position:right;
}

.iframe-fix iframe {
-webkit-overflow-scrolling: touch !important;
overflow: scroll !important;
width: 100%;
height: 100%;
border: none;
}

.iframe-fix {
overflow: hidden;
width: 100%;
height: 100%;
border: none;
--ion-background-color: white;
}

