<ion-header>
  <ion-toolbar>
    <ion-item><ion-icon name="arrow-back" routerLink=""></ion-icon></ion-item>
    <ion-title>cardapio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- List of Text Items -->
  <ion-list class="padding">
    <ion-item>
      <ion-label>Segunda-Feira</ion-label>
      <ion-button color="success" routerLink="/opcoes-cardapio1" >Abrir</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Terça-Feira</ion-label>
      <ion-button color="success" routerLink="/opcoes-cardapio1" >Abrir</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Quarta-Feira</ion-label>
      <ion-button color="success" routerLink="/opcoes-cardapio1" >Abrir</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Quinta-Feira</ion-label>
      <ion-button color="success" routerLink="/opcoes-cardapio1" >Abrir</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Sexta-Feira</ion-label>
      <ion-button color="success" routerLink="/opcoes-cardapio1" >Abrir</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Sábado</ion-label>
      <ion-button color="success" routerLink="/opcoes-cardapio1" >Abrir</ion-button>
    </ion-item>
    <ion-item>
      <ion-label>Domingo</ion-label>
      <ion-button color="success" routerLink="/opcoes-cardapio1" >Abrir</ion-button>
    </ion-item>
  </ion-list>
</ion-content>