


  $openSans: 'Open Sans', Helvetica, Arial, sans-serif;
  html, body {
    font-size: 62.5%;
    height: 100%;
    overflow: hidden;
    
    @media (max-width: 768px) {
      font-size: 50%;
    }
  }
  svg {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    overflow: visible;
  }
  .svg-icon {
    cursor: pointer;
  
    path {
      stroke: rgba(255,255,255,0.9);
      fill: none;
      stroke-width: 1;
    }
  }
  input, button {
    outline: none;
    border: none;
  }
  .cont {
    position: relative;
    height: 100%;
    background-image: url('https://cdn.pixabay.com/photo/2017/06/11/02/05/summer-2391348_960_720.jpg');
    background-size: cover;
    overflow: auto;
    font-family: $openSans;
  }
  .demo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -15rem;
    margin-top: -26.5rem;
    width: 30rem;
    height: 53rem;
    overflow: hidden;
  }
  .login {
    position: relative;
    height: 100%;
    background: linear-gradient(to bottom, rgba(146, 135, 187, 0.8) 0%, rgba(0,0,0,0.6) 100%);
    transition: opacity 0.1s, transform 0.3s cubic-bezier(0.17, -0.65, 0.665, 1.25);
    transform: scale(1);

    &__form {
      position: absolute;
      top: 37%;
      left: 0;
      width: 100%;
      height: 50%;
      padding: 1.5rem 2.5rem;
      text-align: center;
    }
    
    &__row {
      height: 5rem;
      padding-top: 1rem;
      border-bottom: 1px solid rgba(255,255,255,0.2);
    }
    
    &__icon {
      margin-bottom: -0.4rem;
      margin-right: 0.5rem;
      
      &.name path {
        stroke-dasharray: 73.50196075439453;
        stroke-dashoffset: 73.50196075439453;
        animation: animatePath 2s 0.5s forwards;
      }
      &.pass path {
        stroke-dasharray: 92.10662841796875;
        stroke-dashoffset: 92.10662841796875;
        animation: animatePath 2s 0.5s forwards;
      }
    }
    
    &__input {
      display: inline-block;
      width: 83%;//22rem;
      height: 100%;
      padding-left: 5.5%;//1.5rem;
      font-size: 1.5rem;
      background: transparent;
      color: #FDFCFD;
    }
    
    &__submit {
      position: relative;
      width: 100%;
      height: 15%;//4rem;
      margin: 5rem 0 2.2rem;
      color: rgba(255,255,255,0.8);
      background: #4ce600;
      font-size: 1.5rem;
      border-radius: 3rem;
      cursor: pointer;
      overflow: hidden;
      transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
      
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -1.5rem;
        margin-top: -1.5rem;
        width: 3rem;
        height: 3rem;
        border: 2px dotted #fff;
        border-radius: 50%;
        border-left: none;
        border-bottom: none;
        transition: opacity 0.1s 0.4s;
        opacity: 0;
      }
      
      &.processing {
        width: 4rem;
        font-size: 0;
        
        &:after {
          opacity: 1;
          animation: rotate 0.5s 0.4s infinite linear;
        }
      }
      
      &.success {
        transition: transform 0.3s 0.1s ease-out, opacity 0.1s 0.3s, background-color 0.1s 0.3s;
        transform: scale(30);
        opacity: 1;
        //background-color: rgba(255,255,255,0.95);
        
        &:after {
          transition: opacity 0.1s 0s;
          opacity: 0;
          animation: none;
        }
      }
    }
    
    &__signup {
      font-size: 1.2rem;
      color: #ABA8AE;
      
      a {
        color: #fff;
        cursor: pointer;
      }
    }
    
  }
  
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes animatePath {
    to {
      stroke-dashoffset: 0;
    }
  }