<div class="cont">
    <div class="demo">
      <div class="login">
        <div ></div>
        <div class="login__form">
                <div class="long-arrow-left"></div>
          <div class="login__row">
                
            <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
              <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
            </svg>
            <input type="text" [(ngModel)]="mail" class="login__input name" placeholder="Digite seu e-mail"/>
          </div>
          
          <button type="button" (click)="next()" class="login__submit">Continuar</button>
          <p class="login__signup" (click)="toLogin()" >Ja tem uma conta? &nbsp;<a>Fazer login</a></p>
        </div>
      </div>
  
    </div>
  </div>