
ion-content {
    margin: 0px;
}

ion-card {
    --background: #f3f3f3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    ion-item {
        text-align: center;
        --background: #28e070;
    }
}

