<ion-header>
  <ion-toolbar>
    <ion-item><ion-icon name="arrow-back" routerLink="/opcoes-cardapio1"></ion-icon></ion-item>
    <ion-title>Café da Manhã</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label>Nome da Receita</ion-label>
    </ion-item>      
    <ion-card-content>
      Descrição da receita dentro desse espaço.
      Aqui dentro será escrito todos os alimentos permitidos na receita.
      EX:
      1 pão na chapa;
      1 copo de suco de laranja S/ açúcar;
      1 maçã;
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-label>Nome da Receita</ion-label>
    </ion-item>      
    <ion-card-content>
      Descrição da receita dentro desse espaço.
      Aqui dentro será escrito todos os alimentos permitidos na receita.
      EX:
      1 pão na chapa;
      1 copo de suco de laranja S/ açúcar;
      1 maçã;
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-label>Nome da Receita</ion-label>
    </ion-item>      
    <ion-card-content>
      Descrição da receita dentro desse espaço.
      Aqui dentro será escrito todos os alimentos permitidos na receita.
      EX:
      1 pão na chapa;
      1 copo de suco de laranja S/ açúcar;
      1 maçã;
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-label>Nome da Receita</ion-label>
    </ion-item>      
    <ion-card-content>
      Descrição da receita dentro desse espaço.
      Aqui dentro será escrito todos os alimentos permitidos na receita.
      EX:
      1 pão na chapa;
      1 copo de suco de laranja S/ açúcar;
      1 maçã;
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-label>Nome da Receita</ion-label>
    </ion-item>      
    <ion-card-content>
      Descrição da receita dentro desse espaço.
      Aqui dentro será escrito todos os alimentos permitidos na receita.
      EX:
      1 pão na chapa;
      1 copo de suco de laranja S/ açúcar;
      1 maçã;
    </ion-card-content>
  </ion-card>
</ion-content>