<ion-header>
  <ion-toolbar>
    <ion-list>
      <ion-segment>
      <img class="fperfil" src="../assets/img/food1.jpeg"/>
      <ion-title class="titulo">Nome do usuario</ion-title>
      </ion-segment>
    </ion-list>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <div class="text">Bem vindo(a).</div>
  </ion-item>
  
  <div>O que vamos fazer hoje?</div>

  <ion-segment class="ion-margin-bottom">
    <ion-segment-button value="regular" layout="label-hide" disabled>
      <ion-icon class="analy" ios="ios-analytics" md="md-analytics" style="zoom:1.5;" ></ion-icon>
      <div>Relatorios</div>
    </ion-segment-button>
    <ion-segment-button value="regular" layout="label-hide" disabled>
        <ion-icon class="nutri" name="medkit" style="zoom:1.5;"></ion-icon>
      <div>Nutricionista</div>
    </ion-segment-button>
  </ion-segment>

  <ion-segment class="ion-margin-bottom" >
    <ion-segment-button value="regular" layout="label-hide" disabled>
        <ion-icon class="chat" name="chatboxes" style="zoom:1.5;"></ion-icon>
      <div>Chat</div>
    </ion-segment-button>
    <ion-segment-button routerLink="/video" layout="label-hide">
        <ion-icon class="video"name="videocam" style="zoom:1.5;" ></ion-icon>
      <div>Videos</div>
    </ion-segment-button>   
  </ion-segment>

  <ion-segment class="ion-margin-bottom">
    <ion-segment-button value="regular" layout="label-hide" disabled>
      <ion-icon class="desafio" name="flag" style="zoom:1.5;"></ion-icon>
      <div>Desafios</div>
    </ion-segment-button>
    <ion-segment-button routerLink="/cardapio" layout="label-hide" >
        <ion-icon class="cardapios" name="clipboard" style="zoom:1.5;"></ion-icon>
      <div>Cardápios</div>
    </ion-segment-button>
  </ion-segment>        
  
</ion-content>
