.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

div{
  text-align: center;
}

ion-content{
  --ion-background-color:white;
}

ion-header{
  --ion-background-color:#6eaa5e;

}

.titulo{
  font-weight: bold;
  color:black;
  text-align: left;
  padding-left: 5%;
}


ion-segment-button{
  color:black;
  --color-activated:none;
  --color-checked:none;
  --border-color:none;
  --color:none;
  --indicator-color:none;
  --indicator-color-checked:none;
  --border-color: transparent;
  --border:none;
}

ion-segment{
  color:black;
  size:20px;
  --color-activated:none;
  --color-checked:none;
  --border-color:none;
  --color:none;
  --indicator-color:none;
  --indicator-color-checked:none;
  --border-color: transparent;
}

ion-segment ion-segment-button:focus{
  --outline: none;
}

.nutri{
  color:red;
}

.chat{
  color:rgba(8, 8, 129, 0.808);
}

.video{
  color:yellowgreen;
}

.desafio{
  color:orange;
}

.cardapios{
  color:gray;
}

.fperfil{
  height: 25%;
  width: 25%;
  border-radius:60%;
}


.text{
  position:center;
  width: 100%;
}
